@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  font-family:"Poppins", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color:rgb(140, 33, 74);
  --secondary-color:rgb(227, 231, 240);
  --grey:black

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
